button{
    background-color: brown;
    color: black;
    width: 12em;
    border-radius: 5px;
    /* border-color: aliceblue; */
    border: solid 2px greenyellow;
}

button:hover {
    background-color: blueviolet;
    color: aquamarine;
    border-radius: 15px;
    border: solid 6px goldenrod;

}

 /* p:hover{
    background-color: blue;
    color: aquamarine;
    border-radius: 15px;
    border: solid 6px goldenrod;
} */

a:hover{background-color: blue;
    color: aquamarine;
    border-radius: 15px;
    border: solid 6px goldenrod;

}

input:focus{
    background-color: blue;
    cursor: pointer;
}
li:first-child{
    border: solid 3px chocolate;
}
li:last-child{
    border: solid 3px chocolate;
}

li:nth-child(3){
    border: solid 3px chocolate;
}

#P2::after{

    content: " - Here nos adderemos o after " ;
    border: dotted 2px chocolate;
}

#P2::before{

    content: " Here nos adderemos o before ";
    border: solid 5px crimson;

}

.P3::first-letter{
    font-size: xx-large;
    color: goldenrod ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

.P3::first-line{
    background-color: 3px dashed rgb(11, 122, 207);
    color: rgb(209, 17, 193);
}

/* .P3::selection{
    background-color: brown;
    color: goldenrod;

} */

::selection{
    background-color: brown;
    color: goldenrod;

}