body{
    margin: auto;
    padding: auto;
    width: 80%;
    border: 1px solid blueviolet ;
}





p{
    padding-left: 22px;
    padding-top: 50px ;
    padding-right: 100px;
    padding-bottom: 100px;
}

img{
    padding: 22px;
}

#img1{
    margin-left: 133px;
}



#img2{
    margin-left: 33px;
}


#img3{
    margin-top: 33px;
    margin-left: 133px;
}